<footer class="ct-footer-section d-flex align-items-center justify-content-center">
    <div class="container">
        <span class="text-18 text-center w-100 d-block">
            © FlightChkr.com | <a href="mailto:support@flightchkr.com" style="color: white;" >support@flightchkr.com</a> <br>
Travel Directions Pty Ltd (Australia) Level 19, 10 Eagle Street, Brisbane QLD Australia 4000 <br>
Ph: <a href="tel:(0)7 3040 6697" style="color: white;" >(0)7 3040 6697 </a> AEST (GMT +10)
        </span>
        
    </div>
</footer>