<div class="col-lg-12" id="price-slider">
    <h3 class="mb-4 text-black" id="anaTitle">
        <div class="skeleton-loader skeleton-heading"></div>
    </h3>

    <div>
        <p class="mb-3 font-weight-midd text-20 text-gray" id="isAGoodDeal">
            <div class="skeleton-loader skeleton-text" style="height: 150px;"></div>
        </p>
        
        <div class="slider-wrapper-range">
            <div class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                <div class="noUi-base">
                    <div class="skeleton-loader skeleton-slider"></div>
                </div>
            </div>
        </div>
    </div>

</div>