{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <title>Flight Checker: Update Profile</title>
</head>

<body>
   {% include 'header.html' %}
    <section class="ct-banner-section banner-decrease-h">
        <div class="container">
            <div class="position-relative w-100">
                <!-- <h1 class="ct-main-title ">
                    Search Result
                </h1> -->
            </div>
        </div>
    </section>

    <section class="register-form-section">
        <div class="container">
            
            
            <div class="register-f">
                <div class="re-card-header">
                    <h3 class="mb-0">Account Details</h3>
                </div>
                <div class="re-card-body position-relative pt-85">


                    {% if message %}
                        <div class="show-alert-data">
                        {% if message == "Your Details Have Been Updated!" %}
                            <div class="alert alert-success text-center" role="alert">
                                <label class="mb-0"> {{message}}</label>
                            </div>
                        {% else %}
                            <div class="alert alert-danger text-center" role="alert">
                                <label class="mb-0"> {{message}}</label>
                            </div>
                        {% endif %}
                        </div>
                    {% endif %}


                    <form class="w-100" action="{% url 'update_profile' %}" method="post" >
                        {% csrf_token %}
                        
                      
                        <div class="form-group d-flex align-items-center ">
                            <label class="mb-0">First Name</label>  
                                                       <input type="text" name="first_name" value="{{user_details.first_name}}" class="form-control w-md-50" required >

                        </div>
                        <div class="form-group d-flex align-items-center ">
                            <label class="mb-0">Last Name</label>
                            <input type="text" name="last_name" value="{{user_details.last_name}}" class="form-control w-md-50" required>
                        </div>
                        <div class="form-group d-flex align-items-center ">
                            <label class="mb-0">Email Address</label>
                            <input type="email" name="user_email" value="{{user_details.email}}" class="form-control w-md-50" disabled >
                        </div>
                        <div class="form-group d-flex align-items-center ">
                            <label class="mb-0">Old Password</label>
                            <input type="text" name="old_password"  placeholder="Enter old password"  class="form-control w-md-50" required>
                        </div>
                        <div class="form-group d-flex align-items-center ">
                            <label class="mb-0">New Password</label>
                            <input type="password" name="new_password"  placeholder="Enter new password"   class="form-control w-md-50" required>
                        </div>
                        
                        <div class="w-100 mt-5 d-flex justify-content-end">
                            <button type="submit" class="ct-btn-register">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>